/* Navbar */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 0 2rem;
    height: 60px;
}

.logo {
    width: 100px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    justify-content: space-around;
}

.menu-icon span {
    background: white;
    border-radius: 2px;
    height: 0.2rem;
    width: 100%;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.4s ease;
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    .menu-icon {
        display: flex;
    }

   
    .nav-links.active {
        transform: translateX(0);
    }

    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}


/* Navbar */

/* footer */

footer {
   
    padding: 3rem 2rem;
        background-color: #333;
        color: white;
        padding: 3rem 2rem;
        text-align: center;
        max-height: 200px;
        height: 100%;
       align-self: flex-end;
       
        
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolonner */
    gap: 2rem;
}

.footer-col {
    padding: 1rem;
}

.footer-col h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #ff6347; /* Orange farve til overskrifter */
}

.footer-col p, .footer-col ul {
    font-size: 0.9rem;
}

.footer-col ul {
    list-style-type: none;
    padding: 0;
}

.footer-col ul li {
    margin: 0.5rem 0;
}

.footer-col a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-col a:hover {
    color: #ff6347; /* Skift til orange ved hover */
}

/* Responsiv design */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr 1fr; /* To kolonner på mobil */
    }
}

@media (max-width: 480px) {
    .footer-container {
        grid-template-columns: 1fr; /* En kolonne på ekstra små skærme */
       
        text-align: center;
    }
}


/* footer */
