* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html {
    font-size: 62.5%;
}
body{
    background-image: url('billeder/letters-1132703_1280.webp'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}




#box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
 
}

form input{
    width: 100%;
}

#box button{
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
  background-color: rgb(218, 61, 61);
  color: white;
  font-weight: bold;
}

#box button:hover {
    background-color: #961c1c;
    box-shadow: inset 1px 1px 3px 2px #961c1c;
} 

#box h1{
    font-size: 3rem;
    padding-bottom: 15px;
    font-weight: bold;
    
    
}

#box p{
    font-size: 3rem;
    padding-top: 20px;
    font-weight: bold;
    
}

label {
    font-size: 2rem;
    margin-top: 10px;
    font-weight: bold;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    
}



