body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: wheat;
}

#cat-image {
    max-width: 100%;
    height: auto;
}

#box{
    margin-top: 20px;
}

#box button{
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
  background-color: rgb(218, 61, 61);
  color: white;
  font-weight: bold;
}

#box button:hover {
    background-color: #961c1c;
    box-shadow: inset 1px 1px 3px 2px #961c1c;
} 


