@import url(resets.css);


body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
text-align: center;
background-image: url('/img/Trivia-Questions.webp'); 
background-size: cover;
background-position: center; 
background-repeat: no-repeat; 
background-attachment: fixed;
}

.quiz{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 50%;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px
}

.quiz__quetion{
    grid-column: span 2;
    text-align: center;
}